body { background-color: #FFFFFF; color: #993300; margin: 0px; padding:0px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#header{ height: 90px; background-color: #9a0000; }

.header_top{ background-color: #660000; height: 40px; }
.header_top_logo, .header_content{ width: 960px; margin-left: auto; margin-right: auto; }

#header a{ padding-top: 35px; padding-right: 50px; }
#header hr{ color: #ffffff}

.header_content, .footer_content{ margin-left: auto; margin-right: auto; }
.footer_content{ width: 960px; background-color: #660000; }

#content{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    min-height:600px;
/*    background-color: #E5E5E5;*/
}

.students_link a{
    float: right;
    padding-right: 175px;
    padding-top: 7px;
    font-size: 13px;
}

#students_search{
    padding-left: 355px;
}

#class_form{ margin-left: 40px; }
#class_info { margin-left: 50px;}

#footer{
    height: 32px;
    background-color: #660000;
    color:#ffffff;
}

.footer_logo{ float: left; padding-top: 10px }
.footer_content{ padding-top: 10px; }
.footer_content p{ color: #ffffff; }

.networks{ display: block; float: right; padding-right: 45px; }
.networks img{ border: none; }
.networks p{ padding-left:5px;   line-height: 25px; }
.networks a{ text-decoration: none; color: #ffffff; }
.networks a:visited{ text-decoration: none; color: #cccccc }
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #2200C1;}
a:visited { color: #551A8B; }
a:hover { cursor: pointer; text-decoration: underline; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }


/* Class form Table */
table.class_form{
  border-spacing: 0px;
  border-collapse: collapse;
  width: 575px;
}
.class_form th {
  text-align: center;
  font-weight: bold;
  padding: 2px;
  border: 1px solid #660000;
  background: #949AA9;
  color: #FFFFFF;
}

.class_form td {
  text-align: center;
  padding: 2px;
  border: 1px solid #660000;
  background: #EAEAEA;
}

/* Class Information Table */
table.class_info{
  border-spacing: 0px;
  border-collapse: collapse;
  width: 575px;
}
.class_info th {
  text-align: center;
  font-weight: bold;
  padding: 2px;
  border: 1px solid #660000;
  background: #949AA9;
  color: #FFFFFF;
}

.class_info td {
  text-align: center;
  border: 1px solid #660000;
}



