<div id="footer">
	<p style="text-align:center;"><a href='jjamal@notes.cc.sunysb.edu' style='color: #FFFFFF; text-decoration: none;'>For questions and comments about the website - JAWETH AKTHER JAMAL<a></p>
</div>


