<div id="header">
	<div class="header_top">
      <div class="header_top_logo"><img src="/images/top_logo.png" alt="Stony Brook" /></div><hr/>	  
	</div>	
	
    <div class="header_content">
      <img src="/images/study_abroad.png" alt="Stony Brook" />
	  <span class = "students_link">
  		<%= link_to "LIST STUDENTS", :action => "index" %>
	  </span>
    </div>
</div>


  